<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>


    <title>AdminPanel</title>
</head>
<body>
<th:block th:include="template :: navigator"/>

<h2>Admin Panel</h2>
<h3>Admin Panel</h3>
<h4>Admin Panel</h4>



<th:block th:include="template :: footer"/>
<th:block th:include="template :: scripts_js"/>
</body>
</html>