<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>
    <title>Booking</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<th:block th:include="template :: messageBox"/>
<h2>Booking</h2>
<div class="container">
    <h2>Congratulations on your choice!</h2>
    <div class="row header">
        <div class="col-1"><b>Id</b></div>
        <div class="col-2"><b>Registration</b></div>
        <div class="col-1"><b>Brand</b></div>
        <div class="col-2"><b>Model</b></div>
        <div class="col-2"><b>Daily fee</b></div>
        <div class="col-1"><b>Actions</b></div>
    </div>
    <div class="row table-row" th:each="vehicle,i : ${vehicles}">
        <div class="col-md-1" th:text="${vehicle.id}"></div>
        <div class="col-md-2" th:text="${vehicle.registration}"></div>
        <div class="col-md-1" th:text="${vehicle.brand}"></div>
        <div class="col-md-2" th:text="${vehicle.model}"></div>
        <div class="col-md-2" th:text="${vehicle.dailyFee}"></div>
    </div>
</div>
<br>
<div class="container">
    <h4>Car parameters:</h4>
    <div class="row header">
        <div class="col-1"><b>Bodytype</b></div>
        <div class="col-1"><b>Year</b></div>
        <div class="col-1"><b>Fuel</b></div>
        <div class="col-1"><b>Power</b></div>
        <div class="col-1"><b>Gearbox</b></div>
        <div class="col-1"><b>Front Dr</b></div>
        <div class="col-1"><b>Doors</b></div>
        <div class="col-1"><b>Seats</b></div>
        <div class="col-1"><b>Color</b></div>
        <div class="col-1"><b>Metallic</b></div>
        <div class="col-2"><b>Descr</b></div>
    </div>
    <div class="row table-row" th:each="vehicleParam, i : ${vehicleParameters}">
        <div class="col-md-1" th:text="${vehicleParameters.bodytype}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.productionYear}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.fuelType}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.power}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.gearbox}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.frontWheelDrive}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.doorsNumber}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.seatsNumber}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.color}"></div>
        <div class="col-md-1" th:text="${vehicleParameters.metallic}"></div>
        <div class="col-md-2" th:text="${vehicleParameters.description}"></div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="mb-3">Fill details</h4>
        <form th:href="@{/user/booking/}" method="post" th:object="${formObject}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" th:field="*{appUser}"
                                       aria-describedby="appUserHelp"
                                       placeholder="AppUser">
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="vehicle">Vehicle</label>
                                <input type="text" class="form-control" name="vehicle" id="vehicle" th:field="*{vehicle}"
                                       aria-describedby="vehicleHelp"
                                       placeholder="Vehicle">

                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="recipeDate">Recipe Date</label>
                    <input type="date" class="form-control" name="recipeDate" id="recipeDate" th:field="*{recipeDate}"
                           aria-describedby="recipeDateHelp"
                           placeholder="RecipeDate">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="returnDate">Return Date</label>
                    <input type="date" class="form-control" name="returnDate" id="returnDate" th:field="*{returnDate}"
                           aria-describedby="returnDateHelp"
                           placeholder="ReturnDate">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="location" id="location" th:field="*{location}"
                           aria-describedby="locationHelp"
                           placeholder="AppUser">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="totalCost"><b>Total Cost</b></label>
                    <input type="number" class="form-control" name="totalCost" id="totalCost" th:field="*{totalCost}"
                           aria-describedby="totalCostHelp"
                           placeholder="totalCost">
                    <small id="totalCostHelp" class="form-text text-muted">Number of days * daily fee</small>
                </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm booking</button>
        </form>
    </div>
</div>


<!--<div class="row header">-->
<!--    <div class="col-3"></div>-->
<!--    <div class="col-1"></div>-->
<!--    <div class="col-2"></div>-->
<!--    <div class="col-2" th:text="${#aggregates.sum(cart.orders.![pizza.price * quantity])}"></div>-->
<!--    <div class="offset-1 col-3"><input class="w-100" type="submit" value="Update"></div>-->
<!--</div>-->


<br>
<br>
<th:block th:include="template :: scripts_js"/>
</body>
</html>