<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>


    <title>RentCar - main page</title>
</head>
<body>
    <th:block th:include="template :: navigator"/>
    <p align="center"><h2>Treść akapitu</h2></p>



    <th:block th:include="template :: footer"/>


    <th:block th:include="template :: scripts_js"/>
</body>
</html>